.query-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}

.table-header {
    display: flex;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.header-cell {
    flex: 1;
    text-align: left;
}

.table-row {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-cell {
    flex: 1;
    text-align: left;
}
